<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls"><b>TinyApp</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"><b>My URLs</b></a>
        <a class="nav-item nav-link" href="/urls/new"><b>Create New URL</b></a>
        <div class="row float-right" style="position:absolute; right: 0; margin: 0 1em;">
          <% if(username){ %>
            <p class="navbar-brand" style="color: black; font-size: medium;"><%= `Logged in as :` %></p>
            <br>
            <p class="navbar-brand" style="color: black; font-size: medium;"><b><%= `${username}` %></b></p>
            <form method="POST" action="/logout">
              <button type="submit"class="btn btn-dark btn btn-outline-danger">Logout</button>
            </form>
          <% } else { %>
            <div class="row float-right"></div>
              <a class="nav-item nav-link" href="/login">Login</a>
              <a class="nav-item nav-link" href="/register">Register</a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>